<html>

<head>
    <title>Account Credential</title>
    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: Arial;
        }

        .container {
            width: calc(100% - 100px);
            background: #049e94;
            padding: 50px;
        }

        .card {
            background: #fff;
            border-radius: 4px;
            padding: 15px;
        }

        .title {
            font-size: 36px;
        }

        .text {
            font-size: 14px;
        }

        .link-container {
            text-align: center;
            padding: 32px 0;
        }

        .link {
            background: blue;
            font-size: 20px;
            color: #fff !important;
            padding: 12px 24px;
            font-weight: bold;
            text-decoration: none;
            border-radius: 4px;
            cursor: pointer;
        }

        table {
            width: 100%;
        }

        h3 {
            color: #049e94;
        }

        @media only screen and (max-width: 600px) {
            .container {
                width: 100%;
                background: #fff;
                padding: 0;
            }

            .card {
                background: #blue;
            }

            .link-container {
                padding: 16px 0;
            }

            .link {
                font-size: 15px;
                padding: 8px 16px;
            }
        }

        @media only screen and (max-width: 400px) {}
    </style>
</head>

<body>
    <div class="container">
        <div class="card">
            <h3 class="title">Account Credential</h3>
            <div>
                <table>
                     <tr>
                        <td colspan="2">
                            <p><b>Email: </b><i>{{email}}</i></p>
                            <p><b>Password: </b><i>{{password}}</i></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>