.countContainer {
    background-color: var(--base-color);
}

.countWrap {
    margin: 0 auto !important;
    padding: 36px 0 !important;
    max-width: var(--inner-max-width);
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.countItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count {
    color: #fff;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
}

.title {
    color: #fff;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
    letter-spacing: 1px;
}

@media (max-width: 960px) {
}

@media (max-width: 780px) {
    .countWrap {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        padding: 30px 15px !important;
    }
    .count {
        font-size: 30px;
    }

    .title {
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .countWrap {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        padding: 30px 15px !important;
    }
}
