.flex {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 425px) {
        flex-direction: column;
    }
}

.profileInfo {
    flex: 1;
    margin-right: 15px;
    
    @media (max-width: 425px) {
        margin-right: 0;
    }
}

.profilePicture {
    flex-basis: 320px;
    margin-left: 15px;

    @media (max-width: 425px) {
        flex: 1;
        margin-left: 0;
    }
}

.title {
    padding-left: 15px;
    border-bottom: 1px solid #cecece;

    @media (max-width: 640px) {
        font-size: 16px;
    }
}

.info {
    margin-inline-start: 25px;
}
.imgWrap {
    width: 160px;

    img {
        width: 160px;
        height: 160px;
        object-fit: cover;
        object-position: center;
        border: 1px solid var(--base-color);
    }

    label,
    button {
        width: 100%;
    }

    label {
        display: flex;
        justify-content: center;
        background-color: var(--base-color);
        color: #fff;
    }
}

.noDisplay {
    display: none;
}
