.container {
  width: 100%;
  margin: 15px auto;
}

.title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.65);
  font-size: 20px;
  padding: 0 8px;
  margin-bottom: 2px;
}

.empty {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);

  h3 {
    margin: 0;
    color: #ff00008c;
  }
}

.favorites {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  & > div {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--base-color);
    border-radius: 10px;
    padding: 8px;

    &:hover {
      background-color: var(--base-color);

      h3 {
        color: #fff;
      }

      .removeButton {
        color: #fff;
        background: red;
        padding: 2px 4px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

.supplierLogo {
  height: 80px;
  width: 100px;
  object-fit: contain;
  object-position: center;
}

.tradeName {
}

.removeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  font-size: 12px;
  color: red;
  border: none;
  background: transparent;
}

@media (max-width: 780px) {
  .favorites {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .favorites {
    grid-template-columns: repeat(1, 1fr);
  }
}
