.footerMiddle {
  background-color: #484848;
  margin-top: 0;
}

.innerMiddleItems {
  margin: 0 auto !important;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 15px !important;

  @media (max-width: 780px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 425px) {
    grid-template-columns: 1fr;
  }
}

.footerLogo {
  width: 80px;
  filter: grayscale(100%);
}
.filter {
  display: none;
}
.footerHeading {
  text-transform: uppercase;
  color: #fff;
  margin: 15px 0;
  font-size: 16px;
  font-weight: 500;

  @media (max-width: 425px) {
    text-align: center;
  }
}

.title {
  font-size: 12px;
  line-height: 20px;
  color: var(--text-color-secondary);
  margin-bottom: 10px;

  a {
    color: var(--text-color-secondary);
  }

  @media (max-width: 425px) {
    text-align: center;
  }
}

.footerBottom {
  background-color: #000000;
  margin-top: 0;
}

.innerItems {
  margin: 0 auto !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px !important;

  aside {
    display: flex;
    align-items: center;
  }

  @media (max-width: 780px) {
    grid-template-columns: 1fr;

    aside {
      justify-content: center;
    }
  }
}

.links {
  display: flex;
  list-style: none;
  margin: 0;

  li {
    a {
      font-size: 12px;
      color: var(--text-color-secondary);
      line-height: 20px;
      margin-right: 15px;
      text-decoration: none;

      &:hover {
        color: var(--base-color);
        font-size: 12px;
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 425px) {
    display: flex;
    margin-bottom: 5px;
    grid-template-columns: repeat(2, 1fr);

    li {
      text-align: center;
    }
  }
}

.verticalLinks {
  flex-direction: column;
}

.copyRight {
  font-size: 12px;
  line-height: 20px;
  width: 100%;
  color: var(--text-color-secondary);
  text-align: right;
  margin: 0;

  a {
    color: #ffffff;
    text-decoration: underline;
  }

  @media (max-width: 780px) {
    text-align: center;
  }
}

.socials {
  display: flex;

  @media (max-width: 425px) {
    justify-content: center;
  }
}

.socialIconWrapper {
  --size: 30px;
  overflow: hidden;
  background-color: blue;
  border-radius: 50%;
  height: var(--size);
  width: var(--size);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  transform: scale(1);
  transition: transform 0.1s ease-in-out 0.1s;

  &:hover {
    transform: scale(1.05);
  }

  svg {
    width: 100%;
    height: 100%;
    color: #ffffff;
  }
}

.facebook {
  background-color: #3b5998;
}

.linkedin {
  background-color: #0e76a8;
}

.instagram {
  background-color: #8a3ab9;
}

.footerLogoWrap {
  @media (max-width: 425px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
