html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-family: "Poppins", sans-serif;
    font-feature-settings: "tnum", "tnum";
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 136px;
    --inner-max-width: 1100px;
    --side-bar-width: 280px;
    --base-color: #049e94;
    --background-color: #ffffff;
    --text-color-primary: #3e3e3e;
    --text-color-secondary: #a4a4a4;
    --text-color-white: #ffffff;
    --cursive-font: "Ink Free", "Architects Daughter", cursive;
    --error-color-primary: red;
}

a {
    text-decoration: none;
    color: var(--text-color-primary);
}

main {
    min-height: 100vh;
}

.container {
    width: 100%;
    margin-top: 24px;
}

.inner {
    max-width: var(--inner-max-width);
    width: 100%;
    margin: 60px auto;
    padding: 0 15px;
}

.ant-btn-primary {
    background: var(--base-color);
    border-color: var(--base-color);

    &:hover,
    &:focus {
        background: var(--base-color);
        border-color: var(--base-color);
    }
}

ul.supplier-rating {
    color: var(--base-color);
    font-size: 14px;

    li.ant-rate-star:not(:last-child) {
        margin-right: 2px;
    }
}

button.my-facebook-button-class {
    background: linear-gradient(to right, black 50%, #3b5998 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;

    &:hover {
        background-position: left bottom;
    }
}

button.my-google-button-class {
    background: linear-gradient(to right, black 50%, rgb(219, 50, 54) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;

    &:hover {
        background-position: left bottom;
    }
}

// button.bg-hover {
//   background: linear-gradient(to right, black 50%, var(--base-color) 50%);
//   background-size: 200% 100%;
//   background-position: right bottom;
//   transition: all 0.5s ease-out;

//   &:hover {
//     background-position: left bottom;
//   }
// }

.customer-review {
    @media (max-width: 425px) {
        display: none;
    }
}

.swal2-icon.swal2-warning {
    border-color: var(--base-color) !important;
    color: var(--base-color) !important;
}

.swal2-styled.swal2-confirm {
    background-color: var(--base-color) !important;
}

@media (max-width: 640px) {
    .inner {
        margin: 30px auto;
    }
}

.blog_card:hover {
    .ant-card-meta-title {
        color: var(--base-color);
        text-decoration: underline;
    }

    a {
        text-decoration: underline;
        color: blue;
    }
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    margin: auto;

    &.one {
        .ant-carousel {
            width: 35%;
        }
    }

    .ant-carousel {
        width: 100%;
    }

    img {
        border: 5px solid #049e94;
    }

    .slick-slide {
        transform: scale(0.6) !important;
        transition: transform 300ms ease;
        filter: blur(6px);
    }

    .slick-center {
        transform: scale(1) !important;
        transition: transform 700ms ease;
        filter: blur(0px);
    }
}

.carousel-arrows {
    align-self: center;
    color: #049e94;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 1;

    &.left {
        margin-right: 10px;
    }

    &.right {
        margin-left: 10px;
    }
}

.carousel-modal {
    width: 60% !important;

    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;

        .ant-carousel {
            width: 90%;
        }

        .carousel-arrows {
            &.left {
                margin-right: 5px;
            }

            &.right {
                margin-left: 5px;
            }
        }
    }
}

.lb-btn-container {
    max-width: 200px;
    margin: auto;
    padding: 0;
    margin-bottom: 10px;

    .button {
        min-width: 100px;
        height: 40px;
        display: block;
        cursor: pointer;
        font-size: 14px;
        color: #ffffff;

        background: linear-gradient(to right, black 50%, var(--base-color) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.5s ease-out;

        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;

        &:hover {
            background-position: left bottom;
        }
    }
}

.winner {
    color: #049e94;
    font-size: 24px;
    font-weight: 700;
}

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (min-device-width: 320px) and (max-width: 575px) and (orientation: portrait) {
    .carousel-container {
        width: 20rem;
    }

    .carousel-arrows {
        font-size: 20px;

        &.left {
            margin-right: 0px;
        }

        &.right {
            margin-left: 0px;
        }
    }

    .carousel-modal {
        width: 90% !important;
    }
}
