.header {
  height: var(--header-height);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.nav {
  height: 100%;
  width: 100%;
  padding: 0 15px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 780px) {
    padding-top: 0;
  }
}

.brand {
  cursor: pointer;
}

.brandImg {
  height: 100px;
  margin-left: 15px;
  margin-top: 15px;
}

.navMenu {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  align-items: center;
  list-style: none;

  @media (max-width: 780px) {
    display: none;
  }
}

.navMenu > li {
  margin-left: 15px;

  a,
  button {
    padding: 8px 20px;
    cursor: pointer;
    color: var(--text-color-white);
    background-color: var(--base-color);
    border: 0;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    @media (max-width: 960px) {
      white-space: nowrap;
      font-size: 12px;
    }

    & > span {
      position: relative;
      z-index: 1;
    }

    span.anticon {
      margin-left: 5px;
    }

    &::before {
      z-index: 0;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      background-color: #000;
      transition: width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}

.button {
  // border: 1px solid black;
  // border-radius: 3px;
  min-width: 100px;
  height: 40px;
  padding: 0 24px;
  display: block;
  cursor: pointer;

  background: linear-gradient(to right, black 50%, var(--base-color) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;

  display: flex;
  align-items: center;
  justify-items: center;
  white-space: nowrap;
}

.button:hover {
  background-position: left bottom;
}

.menuButton {
  padding: 0 10px;
}

.text {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  transition: all 0.6s ease-out;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  span {
    margin-left: 5px;
  }
}

.text:hover {
  color: white;
}

.search {
  min-width: 480px;
  input,
  button {
    height: 40px;
  }

  @media (max-width: 960px) {
    min-width: 360px !important;
  }
}

@media (max-width: 780px) {
  .header {
    position: sticky;
    background: #ffffff;
    height: 64px;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
    box-shadow: 0 0 4px #000000;
  }
  .nav {
    align-items: center;
  }
  .brandImg {
    height: 50px;
    margin: 0;
  }
}

.mobileTribarMenu {
  display: none;
  height: 36px;
  width: 36px;
  cursor: pointer;
  border: 1px solid var(--base-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  svg {
    height: 100%;
    width: 100%;
    color: var(--base-color);
  }

  @media (max-width: 780px) {
    display: flex;
  }
}

.mobileDrawer {
  display: none;
  @media (max-width: 780px) {
    display: block;
  }
}

.mobileMenuNav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    list-style: none;
    width: 100%;
    margin-right: 20px;

    li {
      margin: 14px 0;
      text-align: right;

      a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
