.background {
  height: 320px;
  background-image: url("/home-banner.svg");
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 0;
}

.background .inner {
  margin: 1rem 0;
}

.title1 {
  color: var(--base-color);
  font-size: 24px;
  margin-bottom: 24px;
  font-family: var(--cursive-font);
  text-align: center;
}

.title2 {
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
}

.title3 {
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: 2px;
  text-align: center;
}

.title4 {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 44px;
  font-weight: 600;
  text-align: center;
  color: #000000;
}

.title5 {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.homeSearchFormContainer {
  max-width: 90%;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 12px #000000;
  border-radius: 0px;
  padding: 15px 30px;
  margin: 8px auto;
}

.homeSearchForm {
  display: flex;
  align-items: center;
  flex: 1;
}

.inputSearch {
  height: 48px;
  padding: 0 24px;
  width: 100%;
  border: 0;
}

.searchButton {
  max-width: 240px;
  width: 100%;
  height: 48px;
  cursor: pointer;
  color: var(--text-color-white);
  background: linear-gradient(to right, black 50%, var(--base-color) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-position: left bottom;
    color: #ffffff;
  }

  .anticon.anticon-search {
    margin-left: 3px;
    margin-top: 3px;
  }

  span {
    position: relative;
    z-index: 1;

    &.anticon-search {
      margin-left: 3px;
      margin-top: 3px;
    }

    svg {
      color: #ffffff;
    }
  }
}

@media (max-width: 960px) {
}

@media (max-width: 780px) {
  .homeSearchFormContainer {
    display: none;
  }
}

@media (max-width: 640px) {
  .background {
    height: auto;
    min-height: 400px;
    background-position: left center;
    background-size: cover;
  }

  .title1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .title2 {
    font-size: 40px;
    margin-bottom: 0;
  }

  .title3 {
    font-size: 60px;
  }

  .title5 {
    margin-bottom: 0;
  }

  .homeSearchFormContainer {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: auto;
  }

  .homeSearchForm {
    flex-direction: column;
  }

  .inputSearch {
    border: 1px solid var(--base-color);
    border-radius: 30px;
    margin: 15px 0;
    text-align: center;
    font-size: 12px;
  }
  .searchButton {
    border-radius: 30px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .title4 {
    font-size: 30px;
    margin-bottom: 0;
  }
}

@media (max-width: 425px) {
  .title2 {
    font-size: 30px;
  }
  .title3 {
    font-size: 40px;
  }
  .title4 {
    font-size: 24px;
  }
}

@media (max-width: 360px) {
  .title4 {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
}
