.background {
    background-image: url("/homepage.jpg");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    height: 100%;
}

.card {
    max-width: 480px;
    padding: 40px;
    width: 100%;
    margin: auto;
    background-color: #fff;
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 50px;

    span {
        font-weight: 200;
    }
}

.text {
    text-align: center;
    font-size: 12px;
    margin: 15px auto;
    
    a {
        &:hover {
            color: var(--base-color);
            text-decoration: underline;
        }
    }
}
